*.pyc
*.pyo
*.log
*.keys.json
/nosetests.xml
/.venv*
*/.venv*
*/.mypy_cache
.settings/
.project
.classpath
.coverage*
.DS_Store
/build/
dist/
*.egg-info/
.eggs/
*.sw*
~*
*~
.idea/
*.iml
.vscode/

node_modules/
app/build
package-lock.json

.serverless

target/

testdata/

etc/docker/lambda/*.tmp
etc/docker/lambda/Dockerfile
etc/docker/lambda/entrypoint.sh

*.crt
!localstack-pro-azure/localstack/pro/azure/server/proxy/ca.crt

backend_states/
api_states/
.python_packages/

terraform.tfstate*
.terraform*
**/terraform/tfplan
.env

# test resources
metastore_db/
parity-metrics/
.pytest-report.xml
*.raw.snapshot.json
localstack-pro-azure/visited_urls.csv
localstack-pro-azure/implemented_features.csv
localstack-pro-azure/tests/otherlangs/scripts/website/.azure/config

# dotnet files
localstack-pro-azure/tests/otherlangs/dotnet/*/bin
localstack-pro-azure/tests/otherlangs/dotnet/*/obj

# setuptools_scm version.py
*/*/*/*/version.py
localstack-sdk-python-2/.openapi-generator/